.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  transition: 0.6s cubic-bezier(0.86, -0.03, 0, 1.02);
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.open {
  transform: translateY(-100%);
}

.containerClick {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.content {
  position: relative;
  z-index: 2;
  width: 80%;
  max-width: 300px;
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
}

.title {
  font-size: 18px;
  margin: 0px 0 8px 0;
}

.input {
  border: 0;
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f1f1f1;
  margin-bottom: 8px;
}

.buttonContainer {
  margin: 4px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  color: #fff;
  margin: 3px;
  background: #000;
  border: 0;
  padding: 6px 18px;
  font-size: 16px;
  border-radius: 3px;
}
